#gamename{
  font-family: 'Indie Flower', cursive;
  padding-top: 15px;
  background-color: aqua;
  margin-left: 15px;
  margin-top: 15px;
}

#compnumber{
  font-family: 'Indie Flower', cursive;
  background-color: lightblue;
  margin-left: 15px;
  height: 100px;
  margin-bottom: 10px;
  
}

#score{
  font-family: 'Indie Flower', cursive;
  background-color: orange;
  margin-left: 15px;
  height: 100px;
  margin-bottom: 10px;
 
}

#instruction{
  font-family: 'Indie Flower', cursive;
  background-color: lightyellow;
  margin-left: 15px;
  color: red;
  font-size: 18px;

}

#crystal1{
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
}
#crystal2{
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
}
#crystal3{
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
}
#crystal4{
  margin-left: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
}

#points {
  font-family: 'Indie Flower', cursive;
  background-color: yellow;
  margin-left: 15px;
  margin-top: 10px; 
  text-align: center;
  font-size: 18px;
}

#addnumber{
  font-family: 'Indie Flower', cursive;
  background-color: rgb(245, 4, 126);
  margin-left: 15px;
  padding-left: 15px; 
  text-align: center;
  font-size: 35px;
  color: darkblue;
}

.container
{
  background-color: #62f704;
}




